<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'chatterbox/style.css' %}"/>
</head>

<body>

<header>Chatterbox</header>


{% if request.user.is_authenticated %}
<div id="search">
    <form action="../search/" method="post">
        <div>
            {% csrf_token %}
            <input class="text" name="search" size="32" />>
        </div>
    </form>
</div>
{% endif %}

{% include 'navbar.html' %}

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>